In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv("realtime_consumption_data.csv")

In [3]:
data.head(10)

   consumption       Tarih   hour
0     31782.78  01.12.2018  00:00
1     30016.48  01.12.2018  01:00
2     28713.42  01.12.2018  02:00
3     27838.91  01.12.2018  03:00
4     27621.64  01.12.2018  04:00
5     27740.53  01.12.2018  05:00
6     28305.31  01.12.2018  06:00
7     29061.61  01.12.2018  07:00
8     31542.21  01.12.2018  08:00
9     34223.81  01.12.2018  09:00

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52632 entries, 0 to 52631
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   consumption  52632 non-null  float64
 1   Tarih        52632 non-null  object
 2   hour         52632 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.2+ MB